<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>
</head>
<body>
<div class="content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5" sec:authorize="isAnonymous()">
                <div class="social-login text-center">
                    <a th:href="@{/oauth2/authorization/google}" class="google btn btn-block">
                        <span>구글 로그인</span>
                    </a>
                    <a th:href="@{/oauth2/authorization/naver}" class="naver btn btn-block">
                        <span>네이버 로그인</span>
                    </a>
                    <a th:href="@{/oauth2/authorization/kakao}" class="keycloak btn btn-block">
                        <span>카카오 로그인</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>